#contact iframe
{
    width: 100%;
}
.Travel_main_div{
    border: 1px solid saddlebrown;

}

.Travel_main_div img{
    width: 100%;
}
.Travel_main_div h5,.Travel_main_div p{
    margin: 20px;
}

.movie_head{
    font-size: 20px;
    padding: 6px 22px;
    border-radius: 10px;
    margin-bottom: 15px;
    
}
.movie_head i{
    float: right;
}
.movie_text span{
   color: orange;
}
.book{
    margin-bottom: 20px;
    
}